.layout_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #61B4CF;
  border-radius: 6px;
  width: 90%;
  height: 80%;
  min-height: 300px;
}

@media (min-width: 1200px) {
  .layout_container {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .layout_container {
    width: 100%;
  }
}