.layout_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #61B4CF;
    border-radius: 6px;
    width: 80%;
    height: 80%;
}