.chat {
  cursor: pointer;
  font-size: 18px;
  height: auto;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.chat:hover {
  background-color: #FFA240;
}

.active_chat {
  background-color: #FF8300;
}

.active_chat:hover {
  background-color: #FF8300;
}

.modal_button {
  width: auto;
}

.dropdown {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat #dropdown-basic.dropdown-toggle.btn.btn-primary {
  width: 25px;
  padding: 0;
  height: 25px;
  background-color: #A65500;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat #dropdown-basic.dropdown-toggle.btn.btn-primary::after {
  margin: 0;
}

.channel_name {
  width: 75%;
  padding: 0 0 0 10px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel_name::before {
  content: '# '
}

@media (max-width: 576px) {
  .chat #dropdown-basic.dropdown-toggle.btn.btn-primary {
    width: 15px;
    height: 15px;
  }
}