.layout_container.container {
  display: flex;
  flex-direction: row;
  background-color: #5aacc7;
  border-radius: 6px;
  height: 80%;
  padding: 0;
}

.channels_wrapper.row {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 20%;
}

.channels_wrapper.row .col {
  padding: 0;
  height: 100%;
}

.channels_header {
  height: 15%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
  background-color: #FFBB73;
  font-size: 18px;
  padding-left: 15px;
  font-weight: 600;
  border-radius: 8px 0px 8px 8px;
}

.channels_header > .btn.btn-outline-light {
  background: none;
  border: none;
  width: auto;
  padding: 0 0 0 15px;
}

.channels_header > span {
  width: auto;
  margin: 0;
}

.channels_container {
  height: 85%;
  overflow-y: auto;
}

.messages_wrapper.row {
  margin: 0;
  padding: 0;
  width: 80%;
  border-left: 1px solid gray;
}

.messages_wrapper > .col {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages_header {
  height: 15%;
  display: flex;
  border-bottom: 1px solid gray;
  background-color: #FFBB73;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 15px;
  border-radius: 0px 8px 8px 8px;
  flex-direction: column;
  justify-content: center;
}

.messages_form_container {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages_container {
  height: 90%;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  padding-top: 10px;
  flex-direction: column;
  overflow-y: auto;
}

.messages_header > p {
  margin: 0;

}

.header_channel::before {
  content: '# '
}

.send_message_button {
  width: 20%;
  max-width: 50px;
}

.send_form {
  display: flex;
  justify-content: center;
  height: 10%;
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.send_form .bb.input-group {
  width: 90%;
  height: 7%;
  margin: 0;
  padding: 0;
}

.send_form .bb.input-group img {
  width: 20px;
  height: 20px;
}

.username {
  font-weight: 600;
}

.message_author {
  color: #dc3545;
}

.message {
  word-wrap: break-word;
}

@media (min-width: 576px) and (max-width: 767px) {
  .layout_container.container {
    max-width: 650px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .layout_container.container {
    max-width: 820px;
  }
}

@media (max-width: 576px) {
  .layout_container.container {
    min-width: 100%;
  }

  .channels_wrapper.row {
    width: 30%;
  }

  .messages_wrapper.row {
    width: 70%;
  }

  input.form-control {
    font-size: 12px;
  }

  .channel_name {
    font-size: 12px;
  }

  #dropdown-basic.dropdown-toggle.btn.btn-primary {
    width: 20px;
    height: 20px;
}

  .chat {
    padding-left: 5px;
    font-size: 12px;
  }

  .channels_header {
    padding-left: 5px;
    flex-wrap: wrap;
    justify-content: center;
    height: 60px;
    font-size: 14px;
  }

  .messages_header {
    font-size: 14px;
    height: 60px;
  }

  .messages_container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .modal_image {
    width: 20px;
  }

  .open_modal_button {
    margin-left: 10px;
  }
}

@media (min-width: 800px) {
  .layout_container.container {
    width: 90%;
  }
}