.fide.toast.show {
  width: auto;
}

.notification img {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.notification p {
  display: inline-block;
  width: auto;
  padding: 0 0 0 10px;
  font-weight: 600;
  margin: 0;
}

div.toast-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.toast-body > .btn {
  width: auto;
  margin: 0;
  padding: 0;
}
