.chat {
  cursor: pointer;
  padding-left: 15px;
  font-size: 18px;
  height: auto;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.chat:hover {
  background-color: #FFA240;
}

.active_chat {
  background-color: #FF8300;
}

.active_chat:hover {
  background-color: #FF8300;
}

.modal_button {
  width: auto;
}

.dropdown {
  width: 10%;
}

#dropdown-basic.dropdown-toggle.btn.btn-primary {
  width: 25px;
  padding: 0;
  height: 25px;
  background-color: #A65500;
  margin: 0;
}

#dropdown-basic.dropdown-toggle.btn.btn-primary::after {
  margin: 0;
}

.channel_name {
  width: 80%;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}