@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('ttf');
}

* {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Roboto';
}

body {
  font-size: 14px;
  background-color: #6F81D6;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
}