@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('ttf');
}

* {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Roboto';
}

body {
  font-size: 14px;
  background-color: #a9b3e1;;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
}

.fade.toast.show {
  position: absolute;
  right: 0;
  top: 3%;
}

.btn {
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
}

.primary_wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
}